 /* CSS HEX */
 
 :root {
     --mint-green: #c7eae4ff;
     --main-background: #F4FBFA;
     --celadon: #a7e8bdff;
     --eerie-black: #1c2321ff;
     --tropical-indigo: #9395d3ff;
     --yale-blue: #0d3b66ff;
     --fern-green: #A2CE72;
 }
 
 body {
     background-color: var(--main-background);
 }
 
 .logo {
     width: 20px;
 }
 
 nav {
     background-color: var(--tropical-indigo);
     font-size: large;
 }
 
 .nav-link {
     color: var(--eerie-black);
 }
 
 #CellModelExample {
     margin-right: 0px;
     padding-right: 0;
     padding-left: 0;
     max-width: 110%;
     height: auto;
 }