 /* CSS HEX */
 
 :root {
     --mint-green: #c7eae4ff;
     --main-background: #F4FBFA;
     --celadon: #a7e8bdff;
     --eerie-black: #1c2321ff;
     --tropical-indigo: #9395d3ff;
     --yale-blue: #0d3b66ff;
     --fern-green: #A2CE72;
     --mascot: #FFC87F;
 }
 
 body {
     overflow: hidden;
     margin: 0;
 }
 
 h3 {
     text-align: center;
 }
 
 #Mascot {
     width: 140px;
     height: 180px;
     margin-left: -20px;
 }
 
 #dialog-arrow {
     display: block;
     content: "";
     width: 0;
     height: 0;
     border-left: 15px solid transparent;
     border-right: 15px solid transparent;
     border-top: 15px solid var(--mascot);
     ;
     margin-left: 50px;
 }
 
 #overview {
     position: fixed;
     display: inline-flex;
     flex-direction: row;
     width: 100%;
 }
 
 #spacer {
     width: 85%;
 }
 
 #camOverview {
     background-color: var(--tropical-indigo);
     border-radius: 50%;
 }
 
 .back_button {
     border: none;
     color: white;
     padding: 7px 10px;
     text-align: center;
     text-decoration: none;
     display: flex;
     flex-direction: row;
     font-size: 14px;
     margin: 7px;
     cursor: pointer;
 }
 
 #camNucelous {
     background-color: #0000ff;
 }
 
 #camMoveThree {
     background-color: #009900;
 }
 
 #camMoveFour {
     background-color: #e67300;
 }
 
 #camMoveFive {
     background-color: #9900cc;
 }
 
 #camMoveSix {
     background-color: #ffcc00;
 }
 
 #camMoveSev {
     background-color: #99ccff;
 }
 
 #camMoveEig {
     background-color: #00ef2d;
 }
 
 .annotation {
     position: absolute;
     display: flex;
     flex-direction: column;
     top: 12%;
     left: 0;
     z-index: 1;
     margin-left: 15px;
     margin-top: 15px;
     padding: 1em;
     width: 230px;
     overflow: auto;
     height: 80%;
     color: #fff;
     background: rgba(119, 136, 153, 0.7);
     border-radius: .5em;
     font-size: 14px;
     line-height: 1.2;
     transition: opacity .2s;
 }
 
 .toggle.ios,
 .toggle-on.ios,
 .toggle-off.ios {
     border-radius: 10px;
     width: 50px;
 }
 
 .toggle.ios .toggle-handle {
     border-radius: 10px;
 }